<div class="image_area">
  <p>Flyer!<p>
  <div class="top_form">
    <%= link_to '新規登録', new_user_registration_path, class:"top_button" %>
    <%= link_to 'ログイン', new_user_session_path, class:"top_button" %>
  </div>
</div>
