<div class="container">
  <ul class="row">
    <%= render 'user_nav' %>

    <li class="col-xs-12 col-sm-8 col-md-9">
      <div class="article user_content">
        <% if @following_troupes.present? %>
          <div class="troupe_index">
            <% @following_troupes.each do |troupe| %>
              <div class="troupe_area">
                <div class="link_area">
                  <%= link_to image_tag(troupe.icon), troupe_path(troupe.id), class:"troupe_icon_link" %>
                  <%= link_to troupe.name, troupe_path(troupe.id), class:"name_link" %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>フォローしている劇団はありません。<p>
        <% end %>
      </div>
    </li>
  </ul>
</div>
