img {
  max-width: 131px;
  height: auto;
}

.paginate-bottom {
  margin: 10px auto;
  display: block;
}

.pagination>.active>a{
  background-color: #e1e1e1;
  border-color: #e1e1e1;
  color: #000000;
}

.btn-delete {
  color:#ffffff;
  background-color: #a0a0a0;
  border-color: #a0a0a0;
}

.search_area {
  width: 100%;
  padding:10px;
}
.search-form {
  width:230px;
  display: inline-block;
  margin: 5px;
}

.search-button {
  width :70px;
  display: inline-block;
  padding: 5px;
  background-color: #ffffff;
  color: #606060;
  border:2px solid #606060;
  border-radius: 4px;
}

.search-button:hover {
  opacity: 0.8;
}

.search_box {
  outline:0;
  height:50px;
  padding:0 10px;
  max-width:270px;
  border-radius:2px;
  background:#eee;
  border: none;
}

.index_area {
  max-width: 926px;
  margin: auto;
  padding: 35px 10px;
}

.index_flyer {
  width: 131px;
  height: 184px;
  margin: 3px;
  display: inline-block;
  border: solid 1px #e0e0e0;
}

.index_flyer img{
  display: table-cell;
  max-width: 131px;
  height: auto;
}

.flyer_article {
  margin: auto;
  text-align: left;
}

.flyer {
  margin: 10px auto;
}

.tab-content>.active>a{
  background-color: #ffffff;
}

.flyer img{
  max-width: 434px;
  width: 100%;
  height: auto;
}

.flyer img:hover {
  opacity: 0.8;
}

.flyer_img{
  max-width: 434px;
  width: 100%;
  height: auto;
}

.pager > li > a{
  font-weight: 600;
  color: #808080;
}

.side_article {
  width: 190px;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.side_article p{
  padding: 5px;
  padding-bottom: 0;
}

.divider {
  height:5px;
  margin: 1px;
  border-bottom: solid 1px #808080;
}

.details_article {
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #ddd;
  border-top:none;
}

.flyer_nav {
  min-height: 30px;
  padding: 0;
  margin: auto;
  background-color: #e8e8e8;
}

.flyer_nav p{
  float: left;
  padding: 2px 6px;
  margin: 3px;
}

.flyer_tag {
    border-right: solid 1px #808080;
}

.article_item p{
  display: inline-block;
}

.article_item h4{
  margin-left: 0;
}

.article_item {
  text-align: left;
}

.point_text {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.bracket {
  color: #747474;
}

.btn-margin {
  margin: 6px 2px 2px 2px;
}
