img {
  max-width: 131px;
  height: auto;
}

.paginate-bottom {
  margin: 10px auto;
  display: block;
}

.pagination>.active>a{
  background-color: #e1e1e1;
  border-color: #e1e1e1;
  color: #000000;
}

.btn-delete {
  color:#ffffff;
  background-color: #a0a0a0;
  border-color: #a0a0a0;
}

.search_area {
  width: 100%;
}
.search-form {
  width:230px;
  display: inline-block;
  margin: 10px;
}

.search-button {
  width :70px;
  display: inline-block;
  border: solid 1px  #a0a0a0;
  padding: 5px;
  background-color: #ffffff;
  color: #606060;
}

.index_area {
  width: 100%;
  margin: auto;
  padding: 35px 0px;
}

.index_flyer {
  width: 131px;
  height: 184px;
  margin: 3px;
  display: inline-block;
  border: solid 1px #e0e0e0;
}

.index_flyer img{
  display: table-cell;
  max-width: 131px;
  height: auto;
}

.flyer_article {
  margin: auto;
  text-align: left;
}

.flyer {
  margin: 10px auto;
}

.flyer img{
  max-width: 434px;
  width: 100%;
  height: auto;
}

.flyer_img{
  max-width: 434px;
  width: 100%;
  height: auto;
}

.pager > li > a{
  font-weight: 600;
  color: #808080;
}

.side_article {
  width: 190px;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  text-align: left
}

.side_article p{
  padding: 5px;
  padding-bottom: 0;
}

.divider {
  height:5px;
  margin: 1px;
  border-bottom: solid 1px #808080;
}

.troupe_section{
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding:0;
  margin:0;
}

.details_article {
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
}

.flyer_nav {
  min-height: 30px;
  padding: 0;
  margin: auto;
  background-color: #e8e8e8;
}

.flyer_nav p{
  float: left;
  padding: 2px 6px;
  margin: 3px;
}

.flyer_tag {
    border-right: solid 1px #808080;
}

.article_item p{
  display: inline-block;
}

.article_item h4{
  margin-left: 0;
}

.article_item {
  text-align: left;
}

.point_text {
  font-size: 16px;
  font-weight: bold;
}
