
.troupe_index {
  margin: auto;
  text-align: left;
}

.user_content>.troupe_index {
  padding: 0 20px;
}

.troupe_area {
  display: inline-block;
  width: 128px;
  margin: 10px;
  vertical-align: top;
  text-align: center;
}

.user_icon_link {
  width: 100%;
  padding: 10px;
  padding-bottom: 5px;
}

.user_icon_link img {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  padding:0px;
  margin:0;
}

.name_link {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.link_area:hover {
  opacity: 0.8;
}

.admin_link{
  font-size: 12px;
  color: #696969;
  border-bottom: solid 1px #696969;
  padding: 2px;
}

.admin_link:hover{
  color: #ffffff;
  border-color: #a0a0a0;
  background-color: #6a6a6a;
  text-decoration: none;
}

.user_section img{
  border: solid 2px #000;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.btn-success {
  margin: 3px;
}

.user_post_index {
  width: 131px;
  margin: 20px 10px;
  display: inline-block;
  border-bottom: solid 1px #e0e0e0;
  vertical-align: top;
  text-align: left;
  background-color: #ffffff;
}

.user_post_index img {
  display: table-cell;
  max-width: 131px;
  height: auto;
}

.user_post_index img:hover {
  opacity: 0.7;
}

.post_link {
  width: 120px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 18px;
  margin: 0px 5px;
  bottom: 0;
}

.troupe_link {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 14px;
  color: #808080;
  font-weight: 100;
  margin: 0px 5px;
}

.troupe_icon {
  border-radius: 18px;
  height: 90px;
  width:90px;
  padding:0;
  margin:0;
}

.troupe_icon_link img{
  border-radius: 10px;
  height: 50px;
  width: 50px;
  padding:0;
  margin:0;
}

.btn-sky {
  color: #006888;
  background-color: #bbdbf3;
  border-color: #bbdbf3;
}
