body {
  max-width:1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

.top_notice {
  background-color: #ffffff;
}

.container_area {
  background-image: image-url("background-image.png");
  width: 100%;
  min-height:700px;
  margin: auto;
  padding: 0;
  padding-bottom: 60px;
}

.alert {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

/*navbar*/
.navbar{
  min-height: 54px;
}

.navbar-nav{
  margin: auto;
}

.navbar-default {
  background-color: #ffffff;
  border: none;
}

.navbar-brand {
  height: 40px;
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}

.navbar-default {
  border: none;
  border-left: solid 1px gray;
  box-shadow: 0px 1px 0.5px #a8a8a8;
  color: #000000;
}

 .top_nav {
   padding: 10px 5px;
   color: #000000;
 }

.navbar-default .navbar-nav > li > a {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  color: #000000;
}

.dropdown-toggle img{
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding:0;
  margin:0;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #000000;
      text-align: center;
  }
}

/*top*/
.top-body {
  width: auto;
  height: auto;
  margin: 0 auto;
  background-image: image-url("top-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.top-font a{
  text-decoration: none;
  color: #ffffff;
}

.top-brand {
  margin-left: 20px;
  font-weight: 600;
  font-size: 30px;
  border-bottom: double 5px #ffffff;
  float: left;
}

.top-navbar {
  margin: 10px;
  float: right;
}

.top-navbar a{
  margin:10px;
}

.top-font a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.image_area {
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

.image_area p{
  color:#ffffff;
  font-weight: 700px;
}

@media only screen and (min-width:700px) {
  .image_area p{
    font-size: 110px;
    margin: 100px auto;
  }
  .top_form a{
    font-size:25px;
    margin: 24px;
  }
}

@media only screen and (max-width:699px) {
  .image_area p{
    font-size: 74px;
    margin: 70px auto;
  }
  .top_form a{
    font-size:16px;
    margin: 7px;
  }
}

.top_form a{
  color:#ffffff;
  border:solid 2px #ffffff;
  padding:10px;
  display: inline-block;
  width: 150px;
}

.top_form a:hover {
  text-decoration: none;
  opacity: 0.6;
}

/*form*/
.article {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.title {
  border-bottom: solid 1px #808080;
  padding: 7px;
  margin: 20px;
}

.form_table {
  margin: auto;
  margin-bottom: 10px;
  border:solid 1px #808080;
}

textarea {
  width: 300px;
}

.form_table th{
  padding:7px;
  border:solid 1px #808080;
  background-color: #dcdcdc;
  text-align: left;
}

.form_table td {
  text-align: left;
  padding:7px;
  border:solid 1px #808080;
}

.form-control {
  max-width: 300px;
  margin: auto;
}

@media (max-width:600px) {
  .form_table{
    width: 100%;
  }
  .form_table th,td{
    width: 100%;
    display: block;
  }
}

.form_button {
  margin: 12px;
  padding: 5px;
  background-color: #ffffff;
  border: solid 2px #424242;
  color: #000000;
}

.form_button:hover {
  opacity: 0.7;
}

.back_button {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: solid 2px #424242;
  color: #000000;
}

.back_button:hover{
  color: #000000;
  text-decoration: none;
  opacity: 0.7;
}

.form_check {
  margin: 4px;
  font-weight: normal;
}

.delete_button {
  padding: 6px 12px;
  background-color: #606060;
  border: none;
  color: #ffffff;
}

.delete_button:hover{
  opacity: 0.6;
}

.caution {
  font-weight: lighter;
  font-size: 1.2rem;
}

.user_area {
  background-color: #ffffff;
  padding: 20px 10px 10px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.user_area p{
  margin: 3px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.user_area h1{
  margin: 5px;
}

.container {
  padding:0;
  margin: auto;
}

ul.row {
  padding: 0;
  margin: 0;
}


.user_index {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ddd;
  border-bottom: none;
}

.user_index>>nav>li>a {
  display: inline-block;
}

.user_content {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #ddd;
  border-top: none;
}

a{
  color: #000000;
  display: inline-block;
}

.tab-content {
  text-align: center;
}

.user_icon {
  border-radius: 40px;
  height: 80px;
  width: 80px;
  padding:0;
  margin:0;
}

footer {
  width: 100%;
  height: 25px;
  background-color: #ffffff;
  border: solid 1px #c0c0c0;
  color: #808080;
}

footer p{
  font-size: 13px;
}
